<div class="form-area">
  <h1>Log in</h1>
  <div>
    <%= form_with scope: :session, method: "post" do |f| %>
      <%= f.text_field :first_name, placeholder: "Enter your first name" %><br />
      <%= f.text_field :last_name, placeholder: "Enter your last name" %><br />
      <%= f.email_field :email, placeholder: "Enter your email" %><br />
      <%= f.password_field :password, placeholder: "Enter your password" %><br />
      <%= f.submit "Log in" %>
    <% end %>
  </div>
</div>
