<h1>Kalugera</h1>
<div>
  <% if @top %>
    <div>
      <h2><%= @top.title %></h2>
      <p><%= @top.content %></p>
    </div>
  <% else %>
    <div>Testing top voted article functionality...</div>
  <% end %>
</div>
<div>
  <div>
    <h2><%= link_to "News", news_path %></h2>
  </div>
  <div>
    <h2><%= link_to "Business", business_path %></h2>
  </div>
  <div>
    <h2><%= link_to "Entertainment", entertainment_path %></h2>
  </div>
  <div>
    <h2><%= link_to "Sports", sports_path %></h2>
  </div>
  <div>
    <h2><%= link_to "Technology", tech_path %></h2>
  </div>
  <div>
    <h2><%= link_to "Opinion", opinion_path %></h2>
  </div>
</div>
