<h1>Kalugera</h1>
<div>
  <div>
    <h2><%= link_to "News", news_path %></h2>
  </div>
  <div>
    <h2><%= link_to "Business", business_path %></h2>
  </div>
  <div>
    <h2><%= link_to "Entertainment", entertainment_path %></h2>
  </div>
  <div>
    <h2><%= link_to "Sports", sports_path %></h2>
  </div>
  <div>
    <h2><%= link_to "Technology", tech_path %></h2>
  </div>
  <div>
    <h2><%= link_to "Opinion", opinion_path %></h2>
  </div>
</div>
